@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


html
{
    font-size: 62.5%;
    color: #FCFCFC;
}

body
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;  /* équivaut à 16px */
    line-height: 1.6rem;
    background-color: #020B40;
}

h1, h2, h3, .menu
{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.06rem;
}

h1
{
    font-size: 3.2rem;
}

.menu
{
    font-size: 2rem;
}

h2
{
    font-size: 2rem;
    line-height: 3rem;
}



h3
{
    font-size: 1.7rem;
    line-height: 2rem;
    margin: 20px 0 20px 0;
}

a,a:active
{
    text-decoration: none;
    color: #FCFCFC;
    font-family: "Source Sans Pro",sans-serif;
}

a:hover{
    color: #F2EBB2;
}

p
{
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

header
{
    background-color: #20375E;

}

header h2
{
    line-height: 2.5rem;
}

footer
{
    background-color: #20375E;
}


.partie_supérieure p{
    font-size: 1rem;
    letter-spacing: 0;
}

.encadré{
    background-color: black;
    opacity: 36%;
}

.chapeau{
    font-weight: bold;
    padding-left: 5px;
}

.article p{
    font-weight: lighter;
}

.list{
    font-weight: lighter;
}

.légende{
    color: #989898;
    font-size: 1.1rem;
}

.publication{
    color: #989898;
    font-size: 1.2rem;
    text-align: right;
}

.ici{
    text-decoration: initial;
}

label{
    font-family: "Oswald",sans-serif;
    font-size: 2rem;
}

input[type=text]{
    width: 97%;
    margin: 15px 0 20px 0;
}

textarea{
    width: 97%;
    margin: 15px 0 20px 0;
}

input[type="submit"] {
    font-family: "Source Code Pro Semibold", sans-serif;
    font-size: 1.4rem;
    width: 161px;
    height: 30px;
    border-radius: 1.5rem;
}