ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

header
{
    display: block;
    height: 84px;
}

header img
{
    width: 60px;
    height: 60px;
}

header h2
{
    text-align: center;
}

.image_accueil
{
    background-image:url('../../img/Ready_Player_One_2.jpg');
    background-repeat: no-repeat;
    background-size: 400px 788px;
    height: 728px;
    width: 100%;
}

.image_accueil p
{
    padding-right: 15px;
    position: absolute;
    left: 111px;
    top: 602px;
}

.choix_article a{
    background-image: url('../../img/Bouton_en_savoir_plus.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
    float: right;
    height: 24px;
    width: 161px;

}

.partie_supérieure{
    border-bottom: solid #FCFCFC 1px;
}

.partie_supérieure a:first-child{
    background-image: url('../../img/Bouton_A_Propos.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: inline-block;
    height: 20px;
    width: 70px;

}

.partie_supérieure a:nth-child(2){
    background-image: url('../../img/Bouton_Contact.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: inline-block;
    height: 20px;
    width: 70px;

}

.réseaux a[href^="https://twitter.com/?lang=fr"]{
    background-image: url("../../img/twitter.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
    height: 22px;
    width: 24px;
}

.réseaux a[href^="https://fr-fr.facebook.com"]{
    background-image: url("../../img/facebook.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
    height: 22px;
    width: 16px;
}

.réseaux a[href^="https://www.linkedin.com/in/raphaël-lemoine-83411a200/"]{
    background-image: url("../../img/linkedin.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
    height: 22px;
    width: 24px;
}

.réseaux a[href^="https://www.instagram.com/?hl=fr"]{
    background-image: url("../../img/instagram.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
    height: 22px;
    width: 24px;
}


.article a{
    background-image: url('../../img/Bouton Article suivant.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: inline-block;
    height: 35px;
    width: 235px;
    margin: 20px 0 40px 45px;
}

.logo{
    background-color: #FCFCFC;
    height: 360px;
    width: 100%;
    margin: 30px 0 50px 0;

}